.Application {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.ApplicationHeader {
  display: flex;
  align-items: center;
}

.ApplicationTitle {
  font-size: 24px;
}

.ApplicationInput {
  margin: 24px;
}
