.HomeCardList {
  perspective: 1000px;
  position: relative;
  width: 100%;
}

.CardListTest {
  position: absolute;
  -webkit-transform-origin-y: 3000px;
}

.spinnerContainer {
  flex-shrink: 0;
  flex-basis: 50px;
  position: relative;
}
