.ImageContainer {
  height: inherit;
  position: relative;
  width: inherit;
}

.Image {
  height: inherit;
  position: absolute;
  width: inherit;
}

.ImageElement {
  display: block;
  height: inherit;
  object-fit: contain;
  width: inherit;
}
