.Application {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  position: relative;
  width: var(--application-width);
}

.ApplicationHeader {
  align-items: center;
  display: flex;
  flex-direction: var(--application-header-flex-direction);
  margin: var(--application-header-margin);
}

.ApplicationTitle {
  font-size: 24px;
}

.ApplicationInput {
  margin: var(--application-input-margin);
  padding-bottom: 6px;
}

.InputContainer {
  display: flex;
}

.InputWrapper {
  flex-grow: 1;
}
